@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

	/* :root {
    --primary-scale-50: 250 100% 97.647%;
		--primary-scale-100: 251.43 91.304% 95.49%;
		--primary-scale-200: 250.5 95.238% 91.765%;
		--primary-scale-300: 252.5 94.737% 85.098%;
		--primary-scale-400: 255.14 91.736% 76.275%;
		--primary-scale-500: 258.31 89.535% 66.275%;
		--primary-scale-600: 262.12 83.256% 57.843%;
		--primary-scale-700: 263.39 69.96% 50.392%;
		--primary-scale-800: 263.36 69.302% 42.157%;
		--primary-scale-900: 263.5 67.416% 34.902%;
		--primary-scale-950: 261.18 72.65% 22.941%;
	} */

}


  @layer base {
    * {
      @apply border-border ring-ring outline-ring;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  }


[data-rehype-pretty-code-figure] code {
  @apply text-sm !leading-loose md:text-base;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-subtle-foreground;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply border-l-blue-400 bg-subtle/10;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-subtle/10;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}